*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.clearfix{*zoom:1}
.fl{float:left}
.fr{float:right}
.fl,.fr{_display:inline}
.top-banner {
	position:absolute;
	z-index: 999;
	left:0;
	top:0;
	height:40px;
	line-height:40px;
	padding:0 30px;
	width:100%;
	font-size: 13px;
	background-color: rgba(255, 255, 255, 0.15);
	color: #fff;
	/*text-shadow: 1px 1px 3px #333;*/
	/*box-shadow: 0 1px 0 #999;*/
}
.top-banner a {
	color: #fff;
	text-decoration: none;
}
